@tailwind base;
@tailwind components;
@tailwind utilities;

.arrow-down {
  background-image: url("./icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 10px;
  height: 10px;
  padding: 5px;
}
.arrow-up {
  background-image: url("./icon-arrow-up.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 10px;
  height: 10px;
  padding: 5px;
}

body.dark {
  backdrop-filter: brightness(0.7);
  transition: 0.5s;
}

#mobile-menu {
  right: -500px;
  transition: 0.5s;
}
#mobile-menu.active {
  right: 0;
  opacity: 1;
}
